.bar {
  background-color: #24283b;
  color: #c0caf5;
  opacity: 0.8;
}

.icon-material {
  font-size: 1.3rem;
}

.workspace {
  padding: 5px;
}

.media {
  min-width: 200px;
}

.music {
  padding: 5px;
}

.artist {
  font-family: "Lilex Nerd Font Regular";
  font-size: 0.9rem;
}

.sound {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #2b2f42;
}

.systray {
  padding: 5px;
  background-color: transparent;
}

progress {
  background-color: #bb9af7;
}
