.bar {
  background-color: #24283b;
  color: #c0caf5;
}

.workspace {
  padding: 5px;
}

.music {
  padding: 5px;
}

.systray {
  padding: 5px;
  background-color: transparent;
}

progress {
  background-color: #bb9af7;
}
